.fh5co-cover.fh5co-cover-sm {
    height: 150px;
}
#fh5co-blog .container {
    display: inline-block;
    vertical-align: top;
    width: 80%!important;
    margin-left: 260px;
    margin-top: 150px;
}
.menu-box {
    height: calc(100vh - 150px);
    border-radius: 5px;
    width: 260px;
    display: inline-block;
    vertical-align: top;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 150px;
    background: #ED5565;
    overflow-x: hidden;
    overflow-y: auto;
}

#fh5co-blog .container .info-box {
    position: relative;
    flex: 1;
}

.filterinput{
    background-color:rgba(249, 244, 244, 0);
    border-radius:15px;
    width:90%;
    height:30px;
    border:thin solid #FFF;
    text-indent:0.5em;
    font-weight:bold;
    color:#FFF;
}
#demo-list a{
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    white-space:nowrap;
    width:100%;
}
#fh5co-blog {
    padding: 0;
}
.info-box {
    background: #fff;
}
.fh5co-nav {
    position: fixed;
}
#fh5co-header, #fh5co-counter, .fh5co-bg {
    position: fixed;
    z-index: 1;
    background-position: 50% 0px!important;
}
#fh5co-footer {
    margin-left: 260px;
}